<html>
<body>
	<style>
		.btq{
			background:#FFAAA5;
		}
		.h3{
			background:#97C7F0;
			padding:10px;
			text-align:center;
			font-size:24px;
			
	
		}
		.hello{
			margin:auto;
		}
		.all{
			background-color:#E0FFFF;
			text-align:center;
			font-size:28px;
			color:#00001a;
		}
	
		form p{
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 100vw;
		}
		label{
			margin-right: 10px;
		}
	</style>



	<div class="post container all">
		<div class="col-xl-6">
	<br><br><br>
	    <h2> <span class="label label-default h2">Hello, apa kabar?</span></h2>
		<br>
	    <form method="POST" class="post-form">{% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" class="label label-default h3 save btn btn-default" id="submit">Save</button>
			<br><br>
	    </form>
	</div>
	{% for post in postlist %}
		<div class="row row-striped">

			<p id="status">{{post.date}}<br>{{post.status}} </p>
		{% endfor %}
				</div>
	</div>
</body>
</html>
